In [34]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [35]:
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [36]:
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [37]:
sum(city_data_df["type"]=="Suburban")

36

In [38]:
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [39]:
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [42]:
pyber_df = pd.merge(ride_data_df, city_data_df,on=["city", "city"])
pyber_df.tail(2)

,city,date,fare,ride_id,driver_count,type
2373,West Heather,2019-02-02 06:28:04,53.07,2462950442268,4,Rural
2374,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural